.panel-resize-handle {
    background-color: #FF6F20;
    width: 2px;
    transition: background-color 0.2s;
}

.panel-resize-handle:hover {
    background-color: #f1a009;
    width: 4px;
}

.panel-group {
    width: 100%;
    height: 100%;
}

.panel {
    background-color: white;
    padding: 16px;
}

.hover-button:hover {
    background-color: #2100b3;  /* Darker shade for hover effect */
}