body {
    font-family: 'Roboto', sans-serif;
}

.panel-resize-handle {
    background-color: #f7a75b;
    width: 2px;
    transition: background-color 0.2s;
}

.panel-resize-handle:hover {
    background-color: #FF6F20;
    width: 3px;
}

.resize-handle-vertical {
    height: 2px;
    background-color: #f7a75b;
}
.resize-handle-vertical:hover {
    background-color: #FF6F20;
    height: 3px;
}

.panel-group {
    width: 100%;
    height: 100%;
}

.panel {
    background-color: #f8f8f8; /* Light gray */
    padding: 0px;
}

.beam-button {
    margin: 5px;
    padding: 10px 10px;
    background-color: #FF6F20;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}

.beam-button:hover {
    background-color: #f7a75b; /* Slightly lighter orange */
}

.beam-button:disabled {
    background-color: gray;
    color: white;
  }

#graph-log-table th {
    text-align: center;
}
